<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <title>Category</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
</head>
<body>
<form action="#" th:action="@{/category}" th:object="${category}" method="post">
    Id:<input type="number" th:field="*{id}" th:disabled="${category.id == 0}" th:readonly="${category.id != 0}"/> 
    <br/>
    Name:<input type="text" th:field="*{name}"/>  
    <br/>
    <input type="submit" value="submit"/>
</form>
</body>
</html>